#root {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: "yofont";
  src:  url('//at.alicdn.com/t/font_1435208_en4yon0qjre.woff') format('woff'),
      url('//at.alicdn.com/t/font_1435208_en4yon0qjre.ttf') format('truetype'),
}
