.wrap-discount-page {
  width: 100%;
  height: auto;
  background: #f0f3f5;
  .sear {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 0.1rem 0.09rem 0.15rem;
    .sear-top {
      position: relative;
      input {
        width: 100%;
        border-radius: 3px;
        border: none;
        padding-left: 0.25rem;
        height: 0.3rem;
      }
      span {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 0.2rem;
      }
    }
    .sear-bot {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 0.1rem;
      p {
        font-size: 0.12rem;
        display: flex;
        align-items: center;
        flex: 1;
        i {
          font-size: 0.2rem;
        }
      }
      span {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        em {
          text-align: center;
          border: 1px solid #cccccc;
          border-radius: 0.25rem;
          height: 0.25rem;
          width: 45%;
          color: #aaaaaa;
        }
      }
    }
  }
}
