@import "./yo/usage/core/reset.scss";
@import './modules/common.scss';
.wrap-login{
  width: 100%;
  height: auto;

  p{
    width: 100%;
    text-align: center;
    color: crimson;
    font-family: '楷体';
    font-size: .2rem;
    background: #dddddd;
  }
  >div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: .15rem;
    span{
      font-size: .16rem;
      padding-right: .1rem;
    }
    input{
      border: none;
      color: #cccccc;
      padding-left: .1rem;
    }
    button{
      border: none;
      width: 20%;
      height: .4rem;
      border-radius: .4rem;
      margin-right: .07rem;
    }
  }
}
